<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>cloud.thepatrick.twopats.offline-admin</string>
   <key>Program</key>
   <string>/Library/Management/twopats.thepatrick.cloud/offline-admin/offline-admin.sh</string>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>